.u-section-1 .u-sheet-1 {
  min-height: 191px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 40px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 814px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 46px auto 0;
  padding: 6px 31px 6px 30px;
}

.u-section-2 .u-list-1 {
  width: 876px;
  margin: 73px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(50% - 25px);
  grid-template-columns: calc(50% - 25px) calc(50% - 25px);
  grid-gap: 50px 50px;
  min-height: 561px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 17px 20px 10px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 10px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 10px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 17px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 10px auto 0;
}

.u-section-2 .u-text-6 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-2 {
  padding: 17px 20px 10px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  margin: 10px auto 0;
}

.u-section-2 .u-text-9 {
  margin: 10px auto 0;
}

.u-section-2 .u-text-10 {
  margin: 17px auto 0;
}

.u-section-2 .u-text-11 {
  margin: 10px auto 0;
}

.u-section-2 .u-text-12 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-3 {
  padding: 17px 20px 10px;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-2 .u-text-14 {
  margin: 10px auto 0;
}

.u-section-2 .u-text-15 {
  margin: 10px auto 0;
}

.u-section-2 .u-text-16 {
  margin: 17px auto 0;
}

.u-section-2 .u-text-17 {
  margin: 10px auto 0;
}

.u-section-2 .u-text-18 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-4 {
  padding: 17px 20px 10px;
}

.u-section-2 .u-text-19 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-2 .u-text-20 {
  margin: 10px auto 0;
}

.u-section-2 .u-text-21 {
  margin: 10px auto 0;
}

.u-section-2 .u-text-22 {
  margin: 17px auto 0;
}

.u-section-2 .u-text-23 {
  margin: 10px auto 0;
}

.u-section-2 .u-text-24 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-list-item-3 {
    background-size: auto;
  }

  .u-section-2 .u-list-item-4 {
    background-size: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
}